<h1>Welcome to Survey Bear!</h1>
<br>
<h3>Click Below To Take a Survey</h3>
<br>
<% @surveys.each do |each_survey| %>
<div>
  <a href="/surveys/<%=each_survey.id%>">
    <h3><%= each_survey.title %></h3>
    <p>
      <button type="button" class="btn btn-primary">Take Survey</button>
    </p>
  </a>
</div>
<hr>
<%end%>


